{{define "body"}}
    <h1 style="color: red">{{.message}}</h1>

    <h2>動画を追加</h2>
    <form method="post" action="/add-vi">
        <p><input type="url" name="video-url" placeholder="動画URLを入力"></p>
        <p><input type="submit" value="Send"></p>
    </form>

    <h2>チャンネルを追加</h2>
    <form method="post" action="/add-ch">
        <p><input type="url" name="channel-url" placeholder="チャンネルURLを入力"></p>
        <select name="select-group">
            {{range .groups}}
                <option value="{{.ID}}">{{.Name}}</option>
            {{end}}
        </select>
        <p><input type="submit" value="Send"></p>
    </form>



{{end}}
