{{define "body"}}

    <h2>曲検索</h2>
    <form method="get" action="/channel/{{.channel.ID}}">
        <p><input type="text" name="viName" placeholder="動画名を入力"></p>
        <p><input type="submit" value="Send"></p>
    </form>


    <div>
        <h2>チャンネル情報</h2>
        <ul>
            <li>チャンネル名: {{.channel.Name}}</li>
            <li>URL: <a href="https://www.youtube.com/channel/{{.channel.ID}}">リンク</a></li>
            <li>グループID: {{.channel.GroupID}}</li>
            <li>グループ名: {{.channel.Group.Name}} <a href="/group/{{.channel.GroupID}}">グループページへ飛ぶ</a></li>
            <img src="{{.channel.Thumbnail}}" alt="">
            <p><strong>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</strong>
            </p>
        </ul>
    </div>

    <div>
        <ul>
            {{range .videos}}
                <ul>
                    <li><img src="https://i.ytimg.com/vi/{{.ID}}/default.jpg" alt="">
                        <label><a href="/video/{{.ID}}">詳細</a></label></li>
                    <li>Title: {{.Title}}</li>
                    <li>Channel: {{.Channel.Name}} <a href="/channel/{{.ChannelID}}">個別ページへ飛ぶ</a></li>
                    <li><a href="https://www.youtube.com/watch?v={{.ID}}" target="_blank">リンク</a></li>
                    <strong>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</strong>
                </ul>
            {{end}}
        </ul>
    </div>

{{end}}
