{{define "body"}}
    <div>
        <ul>
            {{range .groups}}
                <ul>
                    <li>グループ名: {{.Name}}</li>
                    <li>グループID: {{.ID}}</li>
                    <li><a href="/group/{{.ID}}">グループページへ飛ぶ</a></li>
                    <strong>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</strong>
                </ul>
            {{end}}
        </ul>
    </div>

{{end}}
