{{define "body"}}

    <h2>検索</h2>
    <form method="get" action="/channels">
        <p><input type="text" name="chName" placeholder="チャンネル名を入力"></p>
        <p><input type="submit" value="Send"></p>
    </form>

    <div>
        <ul>
            {{range .channels}}
                <ul>
                    <li><img src="{{.Thumbnail}}" alt=""></li>
                    <li>Title: {{.Name}}</li>
                    <li>グループ: {{.Group.Name}} <a href="/group/{{.GroupID}}">グループページへ飛ぶ</a></li>
                    <li><a href="/channel/{{.ID}}">個別ページへ飛ぶ</a></li>
                    <li><a href="https://www.youtube.com/channel/{{.ID}}">リンク</a></li>
                    <strong>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</strong>
                </ul>
            {{end}}
        </ul>
    </div>

{{end}}
