{{define "body"}}

    <h2>検索</h2>
    <form method="get" action="/groups">
        <p><input type="text" name="gName" placeholder="グループ名を入力"></p>
        <p><input type="submit" value="Send"></p>
    </form>

    <div>
        <ul>
            {{range .groups}}
                <ul>
                    <li>グループ名: {{.Name}}</li>
                    <li>グループID: {{.ID}}</li>
                    <li><a href="/group/{{.ID}}">グループページへ飛ぶ</a></li>
                    <strong>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</strong>
                </ul>
            {{end}}
        </ul>
    </div>

{{end}}
