{{define "body"}}
    <div>
        <h2>ビデオ情報</h2>
        <ul>
            <li>タイトル: {{.video.Title}}</li>
            <li>URL: <a href="https://www.youtube.com/watch?v={{.video.ID}}" target="_blank">リンク</a></li>
            <li><img src="https://i.ytimg.com/vi/{{.video.ID}}/default.jpg" alt=""></li>
            <li>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{.video.ID}}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </li>
        </ul>
        <h2>その他情報</h2>
        <ul>
            <li>チャンネル: {{.video.Channel.Name}} <a href="/channel/{{.video.ChannelID}}">個別ページへ飛ぶ</a></li>
            <li>グループID: {{.video.GroupID}}</li>
            <li>グループ名: {{.video.Group.Name}} <a href="/group/{{.video.GroupID}}">グループページへ飛ぶ</a></li>
        </ul>
    </div>

{{end}}
